<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>goku </h1>
            <p>Son Goku (孫悟空 Son GokūJap), originalmente llamado Zero en Estados Unidos y Latinoamérica (doblaje de Harmony Gold) y posteriormente Gokú en este último, es el protagonista principal del manga y anime de Dragon Ball creado por Akira Toriyama. Su nombre de nacimiento es Kakarot (カカロット KakarottoJap, Kakarot en Saiyan en alfabeto Saiyan) y es uno de los pocos Saiyan que lograron sobrevivir a la destrucción total del Planeta Vegeta. Es el segundo hijo de Bardock y Gine, hermano menor de Raditz, nieto adoptivo de Son Gohan, esposo de Chi-Chi, padre de Son Gohan y Son Goten, a su vez también es el abuelo de Pan y ancestro de Son Goku Jr.</p>
        </div>
        <div class="col-4">
            <img src="/assets/goku.jpg" class="img-thumbnail">
        </div>
    </div>
    
    {{> footer }}
</body>
</html>